body {
    background-color: #EAE8D6;
    font-family: Kohinoor Devanagari;
}

@font-face {
    font-family: "lullabies-text";
    src: url("https://use.typekit.net/af/bbb7f8/0000000000000000774ba0a7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"), url("https://use.typekit.net/af/bbb7f8/0000000000000000774ba0a7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"), url("https://use.typekit.net/af/bbb7f8/0000000000000000774ba0a7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 200;
    font-stretch: normal;
}

.tk-lullabies-text {
    font-family: "lullabies-text", sans-serif;
}


h1,
h1 {
    display: flex;
    justify-content: center;
}

nav a{
    text-decoration: none;
    background-color: #C78012;
    color: #EAE8D6;
    border-radius: 0.2em;
  
}

nav ul{
    list-style-type: none;
}


.logo_groot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em;
    width: 100%;
    height: auto;
}


.foto_home_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #C78012;
    margin: 2em;
    border-radius: 2em;
}

.foto_home_2 {
    justify-content: flex-start;
    margin: 2em;
    
}

.foto_naast_tekst {
    display: flex;
    justify-content:center; 
    margin: 1em;

}

.kopje11 {
    background-image: url(foto/verfvlek_oranje_donker.png);
    background-position: center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
  
}

.kopje12 {
    background-image: url(foto/verfvlek_oranje_donker.png);
    background-position: center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}

.kopje2 {
    background-image: url(foto/verfvlek_groen_2.png);
    background-position: center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 1em;
}

.kopje3 {
    background-image: url(foto/verfvlek_geel_kopje3.png);
    background-position: center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;

}

.kopje4 {
    background-image: url(foto/verfvlek_oranje_licht_kopje4.png);
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 30px;
    margin: 1em;

}

.kopje5 {
    background-image: url(foto/verfvlek_groen_2.png);
    background-position: center;
    background-size: cover;
    margin: 1em;
    padding-bottom: 30px;

}

.kopje6 {
    background-image: url(foto/verfvlek_oranje_licht_kopje4.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 30px;
    margin: 1em;
}

.kopje7 {
    background-image: url(foto/);
    background-position: center;
    background-size: cover;
    margin: 1em;
}

.kopje8 {
    background-image: url(foto/verfvlek_oranje_donker.png);
    background-position: center;
    background-size: cover;
    margin: 1em;
}

.lijst_schooltuinen {
    display: flex;
    justify-content: center;

}

footer img {
    width: 100%;
}