body {
    background-color: #EAE8D6;
    font-family: Kohinoor Devanagari;
}

@font-face {
    font-family: "lullabies-text";
    src: url("https://use.typekit.net/af/bbb7f8/0000000000000000774ba0a7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"), url("https://use.typekit.net/af/bbb7f8/0000000000000000774ba0a7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"), url("https://use.typekit.net/af/bbb7f8/0000000000000000774ba0a7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 200;
    font-stretch: normal;
}

.tk-lullabies-text {
    font-family: "lullabies-text", sans-serif;
}

a{
    text-decoration: none;
}

h1,
h1 {
    display: flex;
    justify-content: center;
}

nav a{
    text-decoration: none;
    background-color: #C78012;
    color: #EAE8D6;
    border-radius: 0.2em;
    padding: 0.2em;
  
}

nav ul{
    list-style-type: none;
}

.logo_klein{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    background-color: #DCBE83;
}


.logo_groot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em;
    width: 100%;
    height: auto;
}


.foto_home_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em; 
    background-color: #DFCA6E;
    padding: 0.5em;
    border-radius: 1em;
}

.foto_home_2 {
    justify-content: flex-start;
    background-color: #DFCA6E;
    padding: 1em;
    border-radius: 2em;

}

.tekst_naast_foto_links{
    display: flex;
    justify-content:left; 
}

.tekst_naast_foto_rechts{
    display: flex;
    justify-content:right; 
 }

.kopje11 {
    background-image: url(foto/verfvlek_groen_2.png);
    background-position: center;
    background-size: cover;
    margin: 1em;
    flex-wrap: wrap;
}

.kopje12{
    background-image: url(foto/verfvlek_oranje_donker.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    margin: 1em; 
}

.kopje13 {
    background-image: url(foto/verfvlek_oranje_donker.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}

.kopje2 {
    background-image: url(foto/verfvlek_groen_2.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 5em;
    margin: 1em;
}

.knopje_schooltuin{
    display: flex;
    justify-content: center;
}


.over_foto_1{
    background-color:#DFCA6E; 
    padding-top: 4em;
    border-radius: 2em;
}

.kopje3 {
    background-image: url(foto/verfvlek_geel_kopje3.png);
    background-position: center;
    background-size: cover;
    margin: 1em;
}


.kopje31 {
    background-image: url(foto/verfvlek_geel_3.png);
    background-position: center;
    background-size: cover;
    margin: 1em;
    padding: 1em ;
}



.kopje4 {
    background-image: url(foto/verfvlek_oranje_licht_kopje4.png);
    background-position: center;
    background-size: cover;
    padding: 1.5em;

}

.kopje5{
    background-image: url(foto/verfvlek_oranje_licht_kopje4.png);
    background-position: center;
    background-size: cover;
    padding: 3em;

}

.fotorij{
    display: flex;
    justify-content: space-between;
    background-color: #DFCA6E; 
    padding: 1em;
    border-radius: 2em;
}

.kopje6{
    background-image: url(foto/verfvlek_groen_2.png);
    background-position: center;
    background-size: cover;
    padding: 2em;
 
}

.illustratie_links{
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;
}


.kopje7 {
    background-image: url(foto/verfvlek_groen_2.png);
    background-position: center;
    background-size: cover;
    margin: 1em;
    
}

.foto_duurzaam_links_1{
    background-color: #DFCA6E;
    border-radius: 2em;
    padding: 1em;
    margin-bottom: 15em;
   
}

.foto_duurzaam_links_2{
    background-color:#DFCA6E;
    border-radius: 2em;
    padding: 1em;
    margin-bottom: 2em;
}

.foto_duurzaam_rechts_1{
    background-color: #DFCA6E;
    border-radius: 2em;
    padding: 1em;
    margin-bottom: 10em ;
}

.foto_duurzaam_rechts_2{
    background-color:#DFCA6E;
    border-radius: 2em;
    padding: 1em;
    margin-bottom: 12em;
}


.kopje9 {
    background-image: url(foto/verfvlek_oranje_licht_kopje4.png);
    background-position: center;
    background-size: cover;
    margin: 1em;
}

.kopje8 {
    background-image: url(foto/verfvlek_geel_kopje3.png);
    background-position: center;
    background-size: cover;
    margin: 1em;
}

.kopje9 {
    background-image: url(foto/verfvlek_oranje_donker.png);
    background-position: center;
    background-size: cover;
    margin: 1em;
}

.kopje10{
    background-image: url(foto/verfvlek_oranje_licht_kopje4.png);
    background-position: center;
    background-size: cover;
    margin: 1em; 

}

.kopje101{
    background-image: url(foto/verfvlek_oranje_licht_kopje4.png);
    background-position: center;
    background-size: cover;
    padding: 2em;
}

.kopje14{
    background-image: url(foto/verfvlek_groen_2.png);
    background-size: cover;
    background-position: center;
    margin: 1em;
}

.kopje15{
    background-image: url(foto/verfvlek_oranje_licht_kopje4.png);
    background-size: cover;
    background-position: center;
}

.lijst_schooltuinen {
    display: flex;
    justify-content: center;
}

footer img {
    width: 100%;
}