body {
    background-color: #EAE8D6;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@font-face {
    font-family: "lullabies-text";
    src: url("https://use.typekit.net/af/bbb7f8/0000000000000000774ba0a7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"), url("https://use.typekit.net/af/bbb7f8/0000000000000000774ba0a7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"), url("https://use.typekit.net/af/bbb7f8/0000000000000000774ba0a7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 200;
    font-stretch: normal;
}

.tk-lullabies-text {
    font-family: "lullabies-text", sans-serif;
}

nav a:hover{
    background-color: #DCBE83;
}

 nav a:focus{
    background-color: #DCBE83;
}

 nav a:active{
    background-color: #DCBE83;
}


a{
    text-decoration: none;
    color: #EAE8D6;
}

h1,
h1 {
    display: flex;
    justify-content: center;
    
}

nav a{
    text-decoration: none;
    background-color: #C78012;
    color: #EAE8D6;
    border-radius: 0.2em;
    padding: 0.2em;
    font-size: 0.8em;
  
}

nav ul{
    list-style-type: none;
   
}

li{
    margin: 0.5em;
}

img{
    border-radius: 1em;
    transition: all 10ms ease;
}

img:active{
    transform: scale(1.25);
}

.logo_klein{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    background-color: #DCBE83;
}


.logo_groot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em;
    width: 100%;
    height: auto;
}


.foto_home_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em; 
    background-color: #DFCA6E;
    padding: 0.5em;
    border-radius: 1em;
}

.foto_home_2 {
    justify-content: flex-start;
    background-color: #DFCA6E;
    border-radius: 2em;
    padding: 1em;
    margin-top: 5em;
    margin-bottom: 6em;

}

.tekst_naast_foto_links{
    display: flex;
    justify-content: flex-start;
}

.tekst_naast_foto_rechts{
    display: flex;
    justify-content:right;
 }

.kopje11 {
    background-image: url(foto/verfvlek_oranje_donker.png);
    background-position: center;
    background-size: cover;
    background-size: 120vw;
    background-repeat: no-repeat;
    margin: 1em;
    flex-wrap: wrap;
}

.kopje12{
    background-image: url(foto/verfvlek_oranje_donker.png);
    background-position: center;
    background-size: cover;
    background-size: 85vw;
    background-repeat: no-repeat;
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
   
}

.kopje13 {
    background-image: url(foto/verfvlek_oranje_donker.png);
    background-position: center;
    background-size: cover;
    background-size: 130vw;
    background-repeat: no-repeat;
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}

.kopje2 {
    background-image: url(foto/verfvlek_groen_2.png);
    background-position: center;
    background-size: cover;
    background-size: 200vw;
    background-repeat: no-repeat;
    padding-left: 3em;
    padding-right: 3em;
    margin: 1em;
}

.knopje_schooltuin{
    display: flex;
    justify-content: center;
}


.over_foto_1{
    background-color:#DFCA6E; 
    padding: 1em;
    border-radius: 2em;
    margin-bottom: 10em;
    margin-top: 8em;

}

.kopje3 {
    background-image: url(foto/verfvlek_geel_kopje3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1em;
}


.kopje31 {
    background-image: url(foto/verfvlek_geel_3.png);
    background-position: center;
    background-size: cover;
    background-size: 110vw ;
    background-repeat: no-repeat;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 2em;
   
}



.kopje4 {
    background-image: url(foto/verfvlek_oranje_licht_kopje4.png);
    background-position: center;
    background-size: cover;
    background-size: 140vw ;
    background-repeat: no-repeat;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 2em;
   

}

.kopje5{
    background-image: url(foto/verfvlek_oranje_donker.png);
    background-position: center;
    background-size: cover;
    background-size: 160vw;
    background-repeat: no-repeat;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 2em;

}

.fotorij{
    display: flex;
    justify-content: space-between;
    background-color: #DFCA6E; 
    background-repeat: no-repeat;
    padding: 1em;
    border-radius: 2em;
}

.kopje6{
    background-image: url(foto/verfvlek_groen_2.png);
    background-position: center;
    background-size: cover;
    background-size: 230vw ;
    background-repeat: no-repeat;
    padding-left: 3em;
    padding-right: 3em;

 
}

.illustratie_links{
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
}


.kopje7 {
    background-image: url(foto/verfvlek_groen_2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 120vw; 
    margin-left: 1em;
   
}

.kopje71{
    background-image: url(foto/verfvlek_groen_2.png);
    background-position: center;
    background-size: cover;
    background-size: 130vw;
    background-repeat: no-repeat;
    padding-left: 3em;
    padding-right: 3em;
}

.foto_duurzaam_links_1{
    background-color: #DFCA6E;
    border-radius: 2em;
    padding: 1em;
    margin-bottom: 8em;
    margin-top: 5em;
}

.foto_duurzaam_links_2{
    background-color:#DFCA6E;
    border-radius: 2em;
    padding: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
}

.foto_duurzaam_rechts_1{
    background-color: #DFCA6E;
    border-radius: 2em;
    padding: 1em;
    margin-bottom: 4em ;
    margin-top: 5em ;
}

.foto_duurzaam_rechts_2{
    background-color:#DFCA6E;
    border-radius: 2em;
    padding: 1em;
    margin-bottom: 5em;
    margin-top: 6em;
}


.kopje9 {
    background-image: url(foto/verfvlek_oranje_licht_kopje4.png);
    background-position: center;
    background-size: cover;
    background-size: 120vw;
    background-repeat: no-repeat;
    margin: 1em;
    
}

.kopje91{
    background-image: url(foto/verfvlek_oranje_licht_kopje4.png);
    background-position: center;
    background-size: cover;
    background-size: 120vw;
    background-repeat: no-repeat;
    padding-left: 3em;
    padding-right: 3em;
}

.kopje8 {
    background-image: url(foto/verfvlek_geel_kopje3.png);
    background-position: center;
    background-size: cover;
    background-size: 110vw;
    background-repeat:no-repeat;
    margin: 1em;
}


.kopje10{
    background-image: url(foto/verfvlek_oranje_licht_kopje4.png);
    background-position: center;
    background-size: cover;
    background-size: 130vw;
    background-repeat: no-repeat;
    margin: 1em; 

}

.kopje101{
    background-image: url(foto/verfvlek_oranje_licht_kopje4.png);
    background-position: center;
    background-size: cover;
    background-size: 130vw;
    background-repeat: no-repeat;
    padding-left: 3em;
    padding-right: 3em;
}

.kopje14{
    background-image: url(foto/verfvlek_groen_2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1em;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 2em;
}

.kopje15{
    background-image: url(foto/verfvlek_oranje_licht_kopje4.png);
    background-size: cover;
    background-size: 250vw;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 2em;
}

.lijst_schooltuinen {
    display: flex;
    justify-content: center;
}

.knopje_schooltuin{
    background-color: #658066;
    padding: 1em;
    font-size: small;
    border-radius: 2em;
    margin: 3em;
    transition: all 3ms ease;
}

.knopje_schooltuin:active{
    transform: scale(1.25);
    background-color: #C78012;
}



footer img {
    width: 100%;
}